/* this is the main UL element*/

.zddmenu{
background-color:#006699;
}

.dropdown{
	display:none;
	margin:0;
	padding:0;
	list-style:none;
	background-color:#006699;
	font-size:14px;
	font-weight:700;
}

/* these are the inner menus*/
.dropdown ul{
	display:none;
	margin:0;
	padding:0;
	border-top:1px solid #FFF;
	list-style:none;
}

/* these are all the LIs in the menu*/
.dropdown li{
	margin:0;
	padding:0px;
	background-color:#006699;
	background-image:none;
	border-right:#FFFFFF 1px solid;
	float:left;
}

/* these are anchor in the menu, if you want to style them differently from the rest of you website*/
.dropdown a{
padding:10px;
}

.dropdown a, .dropdown a:link, .dropdown a:visited{
	text-decoration:none;
	color:#FFF;
}

.dropdown a:hover{
	color:#FFFFFF;
	text-decoration:none;
	background-color:#000;
}	

/* these are the LIs that only belong to submenu*/
.dropdown ul li{
	border:1px solid #FFF;
	border-top:0;
	margin-left:-1px;
	font-weight:300;
}
.dropdown ul li{
	width:170px;
	background-color:#006699;
}

/* these are the LIs that contains a submenu*/
.dropdown li.submenu-down{
	width:150px;
	background:#006699 url('expand_down.gif') center right no-repeat;
	padding-right:20px;
}

.dropdown li.submenu-down:hover, .dropdown li.submenu-left:hover{
	background-color:#000;
}

/* these are the LIs that contains a submenu and which are in a sub-menu themselve*/
.dropdown li.submenu-left{
	width:150px;
	background:#006699 url('expand_right.gif') center right no-repeat;
	padding-right:20px;
}