.bluebean a{
	/*====================================================
	CSS here affects all menu item anchors (parentItem,
	subItem_1, subItem_2, etc..)
	Settings here can be overriden by adding css to other
	anchor classes - eg, to override font of sub item 1:
	.bluebean .subItem_1 {
		font-familiy: sans-serif;
		font-size: 15px;
	}
	======================================================*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size			: 10px;
    font-weight			: bold;
	font-style			: normal;
    width				: 156px;
	text-decoration		: none;
    display				: block;
    white-space			: normal;
    position			: relative;
	padding				: 5px 15px 5px 15px;
	/*margin: -1px 0px 0px 0px; /*-1 px stops adjacent borders looking like 2 pixels width*/
	background-repeat	: repeat-y;
}


.bluebean .menuCont_1{
background-color:#386BE2;
Filter: Alpha(Opacity=70);
/* NOTE - Mozilla cant do opacity without making the text opaque too - pretty pointless in my opinion
-moz-opacity:.70;
opacity:.70;
*/
width:100%; /*This has to be set to 100% for Mozilla to stretch to fit anchor*/
}

.bluebean .menuCont_2{
background-color:#7777dd;
Filter: Alpha(Opacity=70);
/* NOTE - Mozilla cant do opacity without making the text opaque too - pretty pointless in my opinion
-moz-opacity:.70;
opacity: .70;
*/
width:100%; /*This has to be set to auto for Mozilla to stretch to fit anchor*/
}

.bluebean .parentItem img,
.bluebean .parentItem-active img{
    position: absolute;
    top: 0px;
    border: 0;
}
.bluebean .rgtImg {
	position: relative;
    margin-top: 5px;
    right: 4px;
    border: 0;
}


.bluebean .lftImg {
	position: relative;
	margin-top: 2px;
    border: 0;
}

.bluebean .parentItem, 
.bluebean .parentItem:hover, 
.bluebean .parentItem-active,
.bluebean .parentItem-active:hover {
/*BACKGROUND IMAGE GOES HERE - (NONE USED IN THIS TEMPLATE)*/
/*	background-image	: url(images/bluebean/menu_orange_bgr.png);			*/
	/*border-left:1px ridge;
	border-bottom:0px none;
	border-top:0px none;*/
	border-top:1px solid #307AFF;
	border-bottom:4px solid #307AFF;	
	border-left:2px solid #307AFF;
	border-right:2px solid #307AFF;
	width:156px;
}

.bluebean .parentItem:link,
.bluebean .parentItem:visited {
	/*background-color	: #ff9b37;*/   /*.menuCont classes deal with the background color beacuse it makes opacity possible*/
	color				: #ffffff;
	font-weight: bold;
}

.bluebean .parentItem:hover,
.bluebean .parentItem-active {
    background-color:#afafff;
	color				: #000000 !important;
}
.bluebean .parentItem:active {
	/*background-color	: #ee5500;*/   /*.menuCont classes deal with the background color beacuse it makes opacity possible*/
	color				: #ffffff !important;
}
.bluebean .subItem_1 img, .bluebean .subItem_2 img,
.bluebean .subItem_1-active img, .bluebean .subItem_2-active img{
    position: absolute;
    top: 0px;
    border: 0;
}

.bluebean .subItem_1, .bluebean .subItem_1-active{
/*background-image	: url(images/bluebean/menu_orange_bgr.png);*/
width: 140px;
}

.bluebean .subItem_2, .bluebean .subItem_2-active{
/*background-image	: url(images/bluebean/menu_blue_bgr.png);*/
width: 140px;
}

.bluebean .subItem_1, .bluebean .subItem_2 {
	color: #ffffff !important;
}


.bluebean .subItem_1:hover, .bluebean .subItem_2:hover,
.bluebean .subItem_1-active, .bluebean .subItem_2-active,
.bluebean .subItem_1-active:hover, .bluebean .subItem_2-active:hover{
	/*.menuCont classes deal with the background color beacuse it makes opacity possible*/
	color				: #000000 !important;
}


.bluebean .subItem_1-active,
.bluebean .subItem_1-active:hover,
.bluebean .subItem_1:hover{
    background-color	: #afafff;
}


.bluebean .subItem_2-active,
.bluebean .subItem_2-active:hover,
.bluebean .subItem_2:hover{
    background-color	: #afafff;	
}



.bluebean .section {
    position: absolute;
    visibility: hidden;
    z-index: -1;	
}

.bluebean .menuBox {
	border:1px solid white !important;
	padding:0px 0px 0px 0px;
}

* html .bluebean td { position: relative; } /* ie 5.0 fix */