<table border="0" cellpadding="0" cellspacing="2">
<tr>
	<td style="vertical-align:top" width="150px" height="100px">
		<img src="%img%" width="140px"/>
	</td>
	<td style="vertical-align:top;" width="270px" height="100px"><b>%title%</b><br />
		%diachi% <br /> 
		Nguyên căn: <b style="color:red">%gianguyencan%</b> | M<sup>2</sup>:<b style="color:red"> %giam2% </b><br /> 
		DT sử dụng:<b> %dientichsd%</b> m<sup>2</sup> | DT sàn:<b> %dientichsan%</b> m<sup>2</sup><br />
		Số phòng ngủ:<b> %ngu%</b> | Số phòng tắm:<b> %tam%</b> <br />
		Ngày cập nhật:<b> %ngaychinhsua%</b> | Lượt xem:<b> %luotxem%</b>
	</td>
</tr>
<tr><td><a href="%chitiet%" >Xem chi tiết</a></td></tr>
</table>